/* src/components/App.css */

.App {
  text-align: center;
  min-height: 100%;
  background-color: #282c34; /* your existing background */
  color: white;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}



